<div class = 'eight columns'>
  <div class = 'title_bar'><h1>Fantasy Box Office Reference Guide</h1></div>
  <div class = 'info' >
  <div class ='description'><h5>Top earners that are currently in theaters.</h5></div>
  <% @movies.each do |movie| %>
    <li><a href="/movies/<%= movie.id %>"><%= movie.title %></a></li>
  <p><%= movie.total_box_office %></p>
  <% end %>
  </div>
</div>