<div class = 'eight columns'>
  <div class = 'title_bar'><h1>Fantasy Box Office Reference Guide</h1></div>
  <div class = 'info' >
  <div class ='description'><h5>Movies sorted by most recent weekend performance.</h5></div>
  <% @movies.each do |movie| %>
    <li><a href="/movie/<%= movie.id %>"><%= movie.title %></a></li>
  <p><%= movie.box_office_performance %></p>
  <% end %>
  <div><a href= '/home'>Home</a></div>
  <div><a href= '/leagues'>List of Leagues</a></div>
  <div><a href= '/users'>List of Users</a></div>
  </div>
</div>


