<div class = 'eight columns'>
  <div class = 'title_bar'>
    <h1>Fantasy Box Office Reference Guide</h1>
  </div>
  <div class = 'info'>
        <h4>What is fantasy box office?</h4>
        <p>-Fantasy sports. But for movies.</p> 
        <p>-Users join a fantasy league, enter a draft, and then choose what movies they think will perform best at the box office under a chosen time frame.</p>

        <p>-Time frame of league could be anywhere from a single weekend to a full year.</p>
        <p>-In addition, users will pick one movie that they believe will perform the worst, known as the “bomb pick.”</p>
        <h4>How does scoring work?</h4>
        <p>-A film's box office revenue is weighted against the budget.</p>
        <p>-So a film that makes $40 million against a $100 million budget earns a player 40 points.</p>
        <p>-Conversely, if a player picked that same movie to be their "bomb pick", it would yield 60 points.</p>
        <h4>Why isn't there web app to play this great idea on?</h4>
        <p>-Because I'm not that good at coding yet. In the meantime, I built a scoring guide for all the movies currently in theaters in the United States.</p>
        <div><a href= '/movies'>Index of Movies</a></div>
        <div><a href= '/users'>List of Users</a></div>
        <div><a href= '/leagues'>List of Leagues</a></div>
    </div>
  </div>
</div>
